
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.para{
    font-family: 'Poppins',sans-serif;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0;
    text-align: left;
   
}

.list{
    color: rgb(216, 24, 126);
    text-align: left;
    margin-left: 25px;
    
}
.skill
{ 
    display: grid;
    
    grid-template-columns: 50% 50%;
}

.list{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}
